/* FullWidthMedia.css */

.full-width-media-wrapper {
  position: relative;
  width: 100%;
  padding-top: 50.25%; /* 16:9 aspect ratio (9/16 = 0.5625) */
  overflow: hidden;
}

.full-width-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  object-fit: cover;
}

iframe.full-width-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}


@media (max-width: 768px) {
  iframe.full-width-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    
    
  }
}